<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to our site!</title>
    	<link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class ="head">Sign up for our site!</div>
  <div class="test">
    <form action="/users" method="post">
      <input type="text"
             name="user[username]"
             placeholder="username"><br />
      <input type="password"
             name="user[password]"
             placeholder="password"><br /><br />
      <input type="submit" value="Sign up!">
    </form>
    </div>
  </body>
</html>
